.mainContainer{
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 2fr; 
  height: 100vh;
  background-color: red;
  max-width: 1200px;
  margin: 0 auto;
}

.navSection {
  background-color: #273747;
  height: 100%;  
}

.nav-icon {
  display: none;
}

.mainSection {
  background-color: #f2f3f7;;
  height: 100%;
}

/* Mobile Responsive */

@media (max-width: 768px) {
.nav-icon {
  position: fixed;
  top: 0;
  left: 0; 
  color: white;
  background-color: black;
  display: block;
  z-index: 3000;
  }
}
