.App {
  text-align: center;
}

.Teaser {
  position: relative;
  top: 200px;
  font-size: 40px;
  font-family: monospace;
  background: rgba(300, 340, 430, 0.5);
  margin: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
