body { 
  color: #333; }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("/imgs/people-mother-family-father.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 700px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; } 
 
.section-padding {
    padding-top: 70px;
  }

.header-image {    
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #fff;
  margin-top: -100px; 
}