:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
	--bg-secondary: #141418;
	--dark-color-a: #2C3144;
	--dark-color-b: rgb(29, 33, 49);
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
  --transition-speed: 600ms;
}

body {
	color: black;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
  /* background: linear-gradient(#2A5470, #4C4177); */
  background: var(--dark-color-a);
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
 
 

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed; 
  z-index: 1;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.flex-container .hero-image {
  width: 300px; 
  margin: 20px auto;
}

.flex-container .hero-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

 #socialMediaIcons {
    display: flex;
    flex-direction: row;
  }

  #socialMediaIconsMobile {
    display: none;
  }

  #socialMediaIcons .nav-link {
    width: 80px;  
  }

  #socialMediaIcons .nav-link:hover {
    background: none;
  }


 #socialMediaIcons .nav-link svg {
   width: 100%;
   border-radius: 3em;
   background: palegreen;
 }


.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  /* display: none; */
  font-family: monospace;
  margin-left: 1rem;
  color: palegreen;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color:var(--success-color);
}

.fa-secondary {
  color:  palegreen;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {     
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary); 
  width: 100%; 
  margin-bottom: 2em;
}

.header-logo img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
 

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0; 
	font-size: 17px;
	transition: all 0.5s;
}

.btn:hover {
	background: var(--dark-color-a);
	color: var(--light-color);
	border: 1px solid var(--light-color);
	transition: all 0.5s;
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
/* page layout */

.page {
  position: relative;  
  height: 100%;   
  margin-left: 260px; 
  margin-right: 0;
}

.page .markdown-container {
  font-size: 1.2em;
  font-family: monospace;
  line-height: 1.5em;
  font-weight: 600;
  color: var(--text-primary);
  padding: 1em 3em;
}

.page iframe {
  display: flex;
  text-align: center;
  margin: 1em auto;
}

.page section { 
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.page .title { 
  color: var(--text-primary); 
  width: fit-content;
  background-color:rgba(0, 0, 0, 0.5);
  margin: 1em auto;
  font-size: 1.5em;
  padding: 0.4em;
}

.page .sub-title {
  color: var(--light-color);
  font-style: italic;
  font-family: monospace;
  padding: 0.8em 0px;
  text-align: center;
  margin: 0 auto;
}


/* About Page */ 
.main-text .about-header {
  color: var(--text-primary);
  font-size: 2vw;
  font-weight: 400;
  margin: 1.5em auto;
  padding-bottom: 3px;
}
 
 
.about-section-inner {
  display: grid;  
  grid-template-columns: 1fr 1fr;  
  grid-gap: 3em;
  padding: 0 2em;  
  margin: 2em auto;
  padding-bottom: 4em;
  justify-content: center;
  align-items: center;    
}
.about-section-inner .about-content { 
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;
  color: var(--text-primary); 
  margin: auto; 
}

.about-section-inner .about-image {
  position: relative; 
  width: 400px;
  height: 500px;
}

.about-section-inner .about-image img {
  width: 100%;
  height: 100%;
  margin-top: 2em;
  border-radius: 0.5em;
  object-fit: cover; 
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.flex-container .main-text {
  font-size: 1.5em;
  color: var(--text-primary);
  width: 60%;
  margin: auto;
}

.flex-container .hero-image {
  width: 300px; 
  margin: 20px auto;
}

.flex-container .hero-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
 
 
.icon svg {  
  position: relative;
  fill: var(--dark-color-a);  
}
 
 

button {
  color: #000;
  text-transform: uppercase;
  width: 130px;
  height: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px solid #000;
  padding: 1em auto; 
  margin: 0 auto;
  transition: all 0.5s;
}

button:hover {
  background-color: palegreen;
  color: var(--bg-primary); 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.5s;
}

button:focus {
  outline: none;
}

/* Resume Section */
.timeline {
  position: relative; 
  width: 660px;
  margin: 0 auto; 
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 12px 18px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid var(--success-color);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: var(--bg-primary);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  margin-top: 1em;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  color: var(--text-primary);
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}


/* Resume */ 
.work-section {
  margin-bottom: 70px; 
}

.work-item {
  position: relative;
  max-width: 900px;
  width: 95%;
  height: auto;
  margin: 0 auto;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.work-item .work-item-inner {
  position: relative;
  padding: 20px;
}

.work-item-inner .work-logo {
  position: absolute; 
  border-radius: 50%;
  height: 100px;
	width: 100px;
  left: 5%; 
  top: -50px; 
  border: 5px solid var(--dark-color-a); 
	background-color: #fff; 
}

.work-item .work-logo img {
  width: 100%;
  border-radius: 50%;  
  object-fit: contain;
}

.work-item-inner .work-heading {
    padding-left: 22%;
    margin-top: -15px; 
}

.work-item-inner .work-heading h2 {
  margin: 5px;
}

.work-item-inner .work-content {
  padding: 2em;
}

/* Projects Page */ 
.projects-options { 
  position: sticky;
  background-color: var(--dark-color-a);
  top: 0;
  padding: 1em; 
  z-index: 1;
  text-align: center;
}

.projects-options ul { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none; 
}

.projects-options ul li {  
  margin: 5px auto;
  font-size: 1em; 
  padding: 5px; 
  color: var(--text-secondary);
  background-color: var(--dark-color-b);
  border-radius: 3px;
  border: 1.5px solid palegreen;
}


.projects-options ul li span { 
  color: var(--text-secondary);
}

.projects-options ul li span:hover {
  color: palegreen;
}

.projects-options ul li .active { 
  color: palegreen; 
}

.project-items {
  display: flex;
  flex-wrap: wrap;   
  justify-content: center;
  align-content: space-between;
}

.project-item {
  position: relative;
  display: block; 
  width: 350px;
  height: 300px;
  border-radius: 0.5em;
  /* background: #273747; */ 
  background: var(--bg-primary);
  margin: 15px 1em; 
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.project-item img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}


.project-item img:hover {
  transform: scale(1.1);
  opacity: 0.5;
} 

.project-item:last-child {
  margin-bottom: 7em;
} 

.project-inner {    
  position: absolute; 
  top: 0;
  padding: 1em;
  transition: all 1s;
}

.project-inner .project-title {   
  font-family: monospace; 
  font-size: 1.1em; 
  font-weight: 600;
  color: var(--text-secondary);
  background: var(--bg-primary); 
  display: block;
  margin-top: -10px;
  margin-left: -10px;
  padding: .3em .3em;
}

.project-inner .category { 
  color: var(--text-primary);
  padding: 5px 0;
}

.project-inner .links {    
  position: absolute; 
  bottom:  -240px;
  background-color:var(--bg-primary);
  border-radius: 5px;
}

.project-inner .links button { 
  font-size: 0.5em;
  background-color: rgba(58, 143, 94, 0.1); 
  color: palegreen;
  border: none; 
  border-radius: 5px; 
  transition: all 1s;
}

.project-inner .links button:hover {
  background-color: rgba(58, 143, 94, 0.8);
  cursor: pointer;
  transition: all 1s;
}

.project-inner .links button:focus-visible {
  border: none;
}

/* Blog Page */ 
.blog-posts {
  padding: 1em; 
}

.blog-post {
  position: relative;
  display: flex;  
  width: 100%;
  height: 200px;  
  margin: auto auto 25px auto; 
  color:var(--text-primary);
  background-color: var(--bg-secondary);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
  border-radius: 0.3em;
  border-bottom: 3px solid var(--bg-primary);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}


.blog-post:hover{
  box-shadow: 0 19px 25px rgba(0,0,0,0.35), 0 13px 13px rgba(0,0,0,0.22); 
  transition: all 0.5s;
}

.blog-post .image {
  width: 300px;   
  max-width: 300px;
  height: auto; 
  overflow: hidden;
}

.blog-post .image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.blog-post .image img:hover {
  transform: scale(1.05);
  object-fit: cover;
  transition: transform 0.3s ease-in-out; 
}

.blog-post .blog-title {    
  font-size: 1em;
  text-align: left;
}

.blog-post .blog-info {   
  width: 80%;
  padding: 1em;
  text-align: left;
}

.blog-info .exerpt {  
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 85%;
  height: 45%; 
  overflow: hidden;  
  line-height: 20px;
  padding: 1em 0px;
  text-overflow: ellipsis;
}

.blog-info .author {
  position: absolute;
  bottom: 5%;
}

.blog-info .published-date {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.contact-methods { 
  display: flex;
  height: 200px;  
  align-items: center;
  justify-content: center;
}

.contact-method {
  display: inline-block;
  margin: 2em;
  border: 1px solid palegreen;  
  background-color: palegreen;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.contact-method:hover{
  background-color: var(--success-color);
}

.contact-method svg {
  height: 100%;
  width: 100%; 
  margin: auto;
}

/* Slider */

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%; 
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -400px;
  opacity: 0;
  width: 600px;
  background-color: rgba(0,0,0,0.5);
  color: var(--text-primary);
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 100px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -220px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }

  .buttons button#prev { 
    left: 15px;
  }
}



/* Backgorund Images */
 
.slide:first-child {
  background: url('https://lh3.googleusercontent.com/8H7N5HoXEtrmajWR5z9aWRosQC-cu38DCaEPk1x59WTvFQ9mYauPwKa6G-6pIEvuQBcgeaB8BiVtmX8v8MLV00sFzmsr6cV2CCBwxFMDzvJcd1kAuMOcDdvSVf4AObrvvxN24S17K0PmLEan0fUN-oIMThEZcAIvTe5QanzgfuwQrNXf8eINxQDfYVuRmXuwIWslKCkHJb22eKAfRq9FLlXm9N4W9qphF9ehoTY7HiRaUiLIXprb0ypCrHA-XyHlu128hgI3MsJk0swlaK9SV07FQAaqhaRWSAQkTozAflj3i31K-jSdIYokodfR0eW77Wxhw9hjjg8OZaFvQmJ54yK3ug_woCVs9T4UYP9Duw_cYkwU00SgngH02KcOwM3GHdLueFEUIVUffIs7OzDqUfH0jU64TnbCOd0upoWsO34CHYaYLKKaySDnzje1Y5vSfxEJRdGxH34n8knCDdPML0r6lZAYqV-AmcJ94I6wl4T_hDB6hX-tZX5fIJ2wP80zeq2Fxi4vKRXQJE_MfxfEFLuknWdkxJokhCEb2mmeNlCayEX_jOF2FYIrcedOYqQ9g1lHdKQ9Xddn5lgQokiz05mJTwUN2dLvlndZHmCsrG330vEeb6K9J6Q_kT69buL1iYBmgLUY7oed1BRRCZYh242_J3CD06qWCUZJRw4EGtKcvOocQC_7oPT_ATBg=w2464-h1642-no?authuser=0') no-repeat
    center top/cover; 
}

.slider-text {
  color: palegreen; 
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2vw;
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    background-color: rgba(0,0,0,0.5);
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link svg {
    height: 2em;
    width: 2em
  }

  .nav-link { 
    display: inline;
    justify-content: center;
    text-align: center;   
  }

  .navbar .link-text {  
    display: inline-block; 
    text-align: center;
    font-size: 1em; 
  }

  #socialMediaIcons {
    display: none;
  }

  .page {
    margin: 0;
    padding: 0;
    padding: auto; 
    width: 100%; 
  }

  .slider-text {
    color: palegreen; 
    font-family: monospace;
    font-weight: bold;
    font-size: 3vw;
  }
  .flex-container.mobile {
    position: relative;
    background-color: var(--bg-primary);
    margin: 170px 10px 10px 10px;
    border-radius: 5px;
  }

  .flex-container .hero-image {
    display: block;
    margin-top: -150px;
    margin-bottom: -15px;
    width: 300px;  
    justify-content: center;
  }

  .flex-container .hero-image img {
    border: 5px solid var(--dark-color-a); 
    box-shadow: none;
  }

  .work-item {
    border-radius: 5px;
  }

  .work-item .work-item-inner {
    padding: 5px;
    margin: 5px;
  }

  .work-item .work-item-inner .work-heading{ 
    width: 100%;
    margin-top: 50px;   
    padding-left: 0;
  }

  .work-item .work-item-inner .work-heading h2 {
    font-size: 1em;  
  }
  .work-item .work-item-inner .work-content { 
    padding: 0;
    margin: 10px auto;
  }
  .blog-post {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .blog-posts .blog-post:last-child {
    margin-bottom: 2em;
  }

  .blog-post .image {
    width: 100%;
    max-height: 270px;
    max-width: 100%;
  }

  .blog-post .blog-title {
    font-size: 0.7em;
  }

  .blog-post .blog-info {
    width: 100%;
    height: 130px;
  }

  .blog-post .blog-info .exerpt {
    width: 100%; 
    display: none;
  }

  .flex-container .main-text {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    justify-content: center; 
  }

  .flex-container .services {
    width: 100%;
    margin: 15px 10px;
  }

 .about-projects { 
    height: auto;
    padding: 1em;
    font-size: 1.3em;
    margin: 40px 10px 100px; 
  }

  .about-projects p {
    margin: 0.6em;
  }

  .page .about-header { 
    font-weight: bold;
    font-size: 0.8em; 
    font-size: 3.5vw;
  }

  .page .main-text p {
    font-size: 0.8em;
    padding: 1em;
  }

  .about-section-inner {
    grid-template-columns: 1fr; 
    height: fit-content;
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
    line-height: 1.5em;
    word-spacing: 0.1em;
  }

  .about-section-inner .about-image {
    display: none;
  }

  main {
    margin: 0;
  }


  .page section {
    height: auto;
  }
  
  
  #socialMediaIconsMobile {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;  
    width: 100%; 
    margin: 1em auto;
  }

  #socialMediaIconsMobile .nav-link{
    position: relative; 
    width: auto;
    height: auto;
    margin: auto;    
    background: none; 
  }

  #socialMediaIconsMobile .nav-link svg { 
    width: 40px;
    height: auto;
    border-radius: 3em;
    background: palegreen;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  /* Resume Section */

  .timeline {
    width: 100%;
   padding: 4em 0 1em 0;
 }
 
 .timeline li {
   padding: 2em 0;
 }
 
 .direction-l,
 .direction-r {
   float: none;
   width: 100%;
 
   text-align: center;
 }
 
 .flag-wrapper {
   text-align: center;
 }
 
 .flag {
   background: rgb(255,255,255);
   z-index: 15;
 }
 
 .direction-l .flag:before,
 .direction-r .flag:before {
   position: absolute;
   top: -30px;
   left: 50%;
   content: ' ';
   display: block;
   width: 12px;
   height: 12px;
   margin-left: -9px;
   background: #fff;
   border-radius: 10px;
   border: 4px solid palegreen;
   z-index: 10;
 }
 
 .direction-l .flag:after,
 .direction-r .flag:after {
   content: "";
   position: absolute;
   left: 50%;
   top: -8px;
   height: 0;
   width: 0;
   margin-left: -8px;
   border: solid transparent;
   border-bottom-color: rgb(255,255,255);
   border-width: 8px;
   pointer-events: none;
 }
 
 .time-wrapper {
   display: block;
   position: relative;
   margin: 4px 0 0 0;
   z-index: 14;
 }
 
 .direction-l .time-wrapper {
   float: none;
 }
 
 .direction-r .time-wrapper {
   float: none;
 }
 
 .desc {
   position: relative;
   margin: 1em 0 0 0;
   padding: 1em;
   background: rgb(245,245,245);
   -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
   -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
   box-shadow: 0 0 1px rgba(0,0,0,0.20);
   
   z-index: 15;
 }
 
 .direction-l .desc,
 .direction-r .desc {
   position: relative;
   margin: 1em 1em 0 1em;
   padding: 1em;
   
   z-index: 15;
 }
 


}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }

  /* .navbar:hover {
    width: 16rem;
  } */

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

/* Click Circle Grow Animation */

@keyframes circleGrow {
  0% {
    transform: scale(0);
    opacity: 0;
  } 
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}