:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
	--bg-secondary: #141418;
	--dark-color-a: #2C3144;
	--dark-color-b: rgb(29, 33, 49);
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
  --transition-speed: 600ms;
}

body {
	color: black;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
  /* background: linear-gradient(#2A5470, #4C4177); */
  background: var(--dark-color-a);
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
 
 

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed; 
  z-index: 1;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.flex-container .hero-image {
  width: 300px; 
  margin: 20px auto;
}

.flex-container .hero-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  /* display: none; */
  font-family: cursive;
  margin-left: 1rem;
  color: palegreen;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color:var(--success-color);
}

.fa-secondary {
  color:  palegreen;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {     
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary); 
  width: 100%; 
  margin-bottom: 2em;
}

.header-logo img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
 

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0; 
	font-size: 17px;
	transition: all 0.5s;
}

.btn:hover {
	background: var(--dark-color-a);
	color: var(--light-color);
	border: 1px solid var(--light-color);
	transition: all 0.5s;
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
/* page layout */

.page {
  position: relative;  
  height: 100%;
  width: 80vw;
  margin-left: 260px; 
  margin-right: 0.5em;
}

.page h1 {
  color: var(--text-primary);
  text-align: center; 
  border-bottom: 2px solid var(--text-primary);
  text-decoration-color: var(--text-primary);
  width: auto;
  font-size: 1.5em;
  padding: 5px;
}

/* About Page */ 
.about-header {
  font-weight: bolder;
  margin: 20px auto;
  padding-bottom: 3px;
}
 

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container .main-text {
  font-size: 2em;
  color: var(--text-primary);
  width: 60%;
  margin: auto;
}

.flex-container .hero-image {
  width: 300px; 
  margin: 20px auto;
}

.flex-container .hero-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flex-container .services{
  position: relative;
  width:  260px;
  height: 200px;
  background-color: var(--bg-primary);
  color: white; 
  margin: 40px auto;
  border-bottom: 3px solid palegreen;
  text-align: left;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flex-container .services icon {
  padding-left: 10px;
}

.flex-container .services h3 {
   position: absolute; 
   bottom: 0;
   padding-left: 10px;
   margin: 5px;
}

.about-projects {
  margin: 40px auto 100px auto;
  background-color: var(--bg-primary);
  color: white;
  padding: 10px; 
  text-align: center;
  font-size: 1.5em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

 .about-projects button {
  color: #000;
  text-transform: uppercase;
  width: 90px;
  height: 30px;
  letter-spacing: 1px;
  border: 1px solid #000;
  padding: 2px 10px;
  margin: 5px auto;
  transition: all 0.5s;
}

.about-projects button:hover {
  background-color: palegreen;
  color: var(--bg-primary);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.5s;
}


/* Resume */ 

.resume-header {
  position: relative;
  /* border-bottom: var(--text-primary) solid 4px; */
  margin-bottom: 60px;
}

.resume-header h1 {
  padding: 5px;  
}
.work-section {
  margin-bottom: 70px; 
}

.work-item {
  position: relative;
  max-width: 900px;
  width: 95%;
  height: auto;
  margin: 0 auto;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.work-item .work-item-inner {
  position: relative;
  padding: 20px;
}

.work-item-inner .work-logo {
  position: absolute; 
  border-radius: 50%;
  height: 100px;
	width: 100px;
  left: 5%; 
  top: -50px; 
  border: 5px solid var(--dark-color-a); 
	background-color: #fff; 
}

.work-item .work-logo img {
  width: 100%;
  border-radius: 50%;  
  object-fit: contain;
}

.work-item-inner .work-heading {
    padding-left: 22%;
    margin-top: -15px; 
}

.work-item-inner .work-heading h2 {
  margin: 5px;
}

.work-item-inner .work-content {
  padding: 2em;
}

/* Projects Page */ 
.projects-options { 
  padding: 2em; 
  text-align: center;
}

.projects-options ul { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none; 
}

.projects-options ul li {  
  margin: 5px auto;
  font-size: 1em; 
  padding: 5px; 
  color: var(--text-secondary);
  background-color: var(--dark-color-b);
  border-radius: 3px;
  border: 1px solid palegreen;
}

.projects-options ul li a {
  padding: 1em;
  color: var(--text-secondary);
}

.projects-options ul li a:hover {
  color: palegreen;
}

.projects-options ul li .active { 
  color: palegreen; 
}

.project-items {
  display: flex;
  flex-wrap: wrap;   
  align-content: space-between;
}

.project-item {
  position: relative;
  display: block;
  width: 350px;
  height: 300px;
  /* background: #273747; */ 
  background: var(--bg-primary);
  margin: 15px auto; 
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.project-item img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}


.project-item img:hover {
  transform: scale(1.1);
  opacity: 0.5;
} 

.project-items:last-child {
  margin-bottom: 70px;
}

.project-item:hover {
  border-top: black solid 1px;
}

.project-inner {    
  position: absolute; 
  top: 0;
  padding: 1em;
  transition: all 1s;
}

.project-inner .title {   
  font-family: cursive;
  font-weight: bold; 
  font-size: 1;
  text-transform: uppercase;
  color: var(--text-primary);
  background: var(--bg-secondary);
  display: block;
  padding: .2em .2em;
}

.project-inner .category { 
  color: var(--text-primary);
  padding: 5px 0;
}

.project-inner .links {  
  position: absolute; 
  top: 270px;
}

.project-inner .links button {
  width: 90px;
  padding: 2px;
  background-color: rgba(58, 143, 94, 0.1); 
  color: palegreen;
  border: none;
  border-radius: 5px; 
  transition: all 1s;
}

.project-inner .links button:hover {
  background-color: rgba(58, 143, 94, 0.8);
  transition: all 1s;
}

.project-inner .links button:focus-visible {
  border: none;
}

/* Blog Page */ 
.blog-posts {
  padding: 1em;
}

.blog-post {
  position: relative;
  display: flex;  
  width: 100%;
  height: 200px;  
  margin: auto auto 40px auto; 
  color:var(--text-primary);
  background-color: var(--bg-secondary);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.blog-post .image {
  width: 300px;   
  max-width: 300px;
  height: auto; 
  overflow: hidden;
}

.blog-post .image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.blog-post .image img:hover {
  transform: scale(1.05);
  object-fit: cover;
  transition: transform 0.3s ease-in-out; 
}

.blog-post .blog-info {   
  width: 80%;
  padding: 1em;
}

.blog-info .exerpt {  
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 85%;
  height: 45%; 
  overflow: hidden;  
  line-height: 20px;
  padding: 1em;
  text-overflow: ellipsis;
}

.blog-info .author {
  position: absolute;
  bottom: 5%;
}

.blog-info .published-date {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

/* Slider */

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw; 
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -400px;
  opacity: 0;
  width: 600px;
  background-color: rgba(0,0,0,0.5);
  color: var(--text-primary);
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 100px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -220px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }

  .buttons button#prev { 
    left: 15px;
  }
}



/* Backgorund Images */
 
.slide:first-child {
  background: url('https://source.unsplash.com/RyRpq9SUwAU/1600x900') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('https://source.unsplash.com/BeOW_PJjA0w/1600x900') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('https://source.unsplash.com/TMOeGZw9NY4/1600x900') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('https://source.unsplash.com/yXpA_eCbtzI/1600x900') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('https://source.unsplash.com/ULmaQh9Gvbg/1600x900') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat
    center center/cover;
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    background-color: rgba(0,0,0,0.5);
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link svg {
    height: 2em;
    width: 2em
  }

  .nav-link { 
    display: inline;
    justify-content: center;
    text-align: center;   
  }

  .navbar .link-text {  
    display: inline-block; 
    text-align: center;
    font-size: 1em; 
  }

  #themeButton {
    display: none;
  }

  .page {
    margin: 0;
    padding: auto; 
    width: 100%;
  }

  .flex-container.mobile {
    position: relative;
    background-color: var(--bg-primary);
    margin: 170px 10px 10px 10px;
    border-radius: 5px;
  }

  .flex-container .hero-image {
    display: block;
    margin-top: -150px;
    margin-bottom: -15px;
    width: 300px;  
    justify-content: center;
  }

  .flex-container .hero-image img {
    border: 5px solid var(--dark-color-a); 
    box-shadow: none;
  }

  .work-item {
    border-radius: 5px;
  }

  .work-item .work-item-inner {
    padding: 5px;
    margin: 5px;
  }

  .work-item .work-item-inner .work-heading{ 
    width: 100%;
    margin-top: 50px;   
    padding-left: 0;
  }

  .work-item .work-item-inner .work-heading h2 {
    font-size: 1em;  
  }
  .work-item .work-item-inner .work-content { 
    padding: 0;
    margin: 10px auto;
  }
  .blog-post {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .blog-post .image {
    width: 100%;
    max-width: 100%;
  }

  .blog-post .blog-info {
    width: 100%;
    height: 180px;
  }

  .blog-post .blog-info .exerpt {
    width: 100%; 
    display: none;
  }

  .flex-container .main-text {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
  }

  .flex-container .services {
    width: 100%;
    margin: 15px 10px;
  }

 .about-projects { 
    margin: 40px 5px 100px 5px; 
  }


  .page h1 {
    width: 80%;  
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }

  /* .navbar:hover {
    width: 16rem;
  } */

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}